.header {
    background-color: #112d4e;
    padding: 2% 10%;
    text-align: left;
}

#team p {
    color: black;
}

.story {
    padding-right: 5%;
    padding-left: 0;
}

.member-profile {
    margin: 0 auto 10%;
}

.member-profile img {
    border-radius: 80%;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.member-info a{
    color: #3f72af;
}

.career h4{
    color: #112d4e ;
}
.career-profile{
    padding: 0 3%;
}